.header {
  display: flex;
  margin-bottom: 40px;
  min-height: 90px;
  background-color: var(--light);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__timer {
  font-size: 30px;
  color: var(--primary);
}

