.gallery {
  margin-bottom: var(--standart-gap);
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: var(--standart-gap);
}

@media (max-width: 1300px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 880px) {
  .gallery__list {
    grid-template-columns: 1fr;
  }
}

.gallery__item {
  display: flex;
  width: 400px;
}

.gallery__image {
  width: 100%;
  transition: transform var(--transition-duration) var(--transition-function);
}

.gallery__image:hover {
  transform: scale(0.9);
  transition: transform var(--transition-duration) var(--transition-function);
}
